*{
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px 0;
}

.menu {
    list-style: none;
    padding: 0;
    font-size: 24px;
    margin: 0 auto;
}
.menu li {
    display: inline-block;
         }

.menu a {
    display: inline-block;
    padding: 20px 25px;
    text-decoration: none;
    text-align: center;
    color: lightgreen;
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
  }
img {
    width: 100%;
    margin: 0;
}
section {
    background: gainsboro;
    margin: 0;
    padding: 0;
}
main {
    padding: 0 80px;
    }
p {
    font-size: 13px;
}
button {
    background-color: lightgreen;
    font-size: 10px;
    color: white;
    line-height: 10px;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    width: 140px;
    margin-bottom: 50px;
}
footer {
    font-size: 13px;
    padding: 20px 80px;
    text-align: right;
}
